langchain
langchain-core
langchain-community
langchain_text_splitters
pypdf
pymupdf
transformers==4.36.2
huggingface_hub==0.19.4
sentence-transformers==2.2.2
faiss-cpu==1.13.2
chromadb
langchain-groq
python-dotenv