langchain
transformers==4.41.2
tokenizers==0.19.1
langchain-core
langchain-community
langchain_text_splitters
pypdf
pymupdf

huggingface_hub==0.19.4
sentence-transformers==2.2.2
faiss-cpu==1.13.2
chromadb
langchain-groq
python-dotenv
flask